/* ProfileComponent's private CSS styles */
  .profiles {
    border-collapse: collapse;
    width: 100%;
  }
  
  .profiles tr:nth-child(even){background-color: #f2f2f2;}

  .profiles tr:hover {background-color: #ddd;}

  .profiles tr {
    cursor: pointer;
  }

  .profiles th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #334953cb;
    color: white;
  }

  .profiles td, .profiles th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .profiles a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
  }
  
  .profiles a:hover {
    color:#607D8B;
  }
  
  .profiles .badge {
    display: inline-block;
    font-size: small;
    color: white;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    min-width: 16px;
    text-align: right;
    border-radius: 4px 0 0 4px;
  }
  
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    background-color: gray !important;
    color: white;
  }