button {
  margin: 2em 1em;
  width: 75px;
  height: 40px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
button.save {
  background-color: #405061;
  color: white;
  font-weight: bold;
  margin-left: 2em;
}

.evaluation-details-card {
  max-width: 400px;
}

.evaluation-details-container {
  margin: 2em;
}

mat-card {
  padding: 2em;
  margin: 2em 0 0 0;
  width: 100%;
}
mat-form-field {
  padding: 10px;
}
mat-form-field.full-form-field {
  width: 95%;
}
mat-form-field.small-form-field {
  width: 18%;
}
mat-card-actions {
  margin: 1em;
}
mat-slider {
  width: 70%;
}
