<div *ngIf="profile">
    <h2>Profile ID #{{profile.profileId}} Details</h2>
    <hr>
    <div>
        <div class="formItem">
            <label>First Name:</label><br>   
            <input [(ngModel)]="profile.firstName" placeholder="First Name"/>
        </div>

        <div class="formItem">
            <label>Last Name:</label><br> 
            <input [(ngModel)]="profile.lastName" placeholder="Last Name"/>
        </div>
        
        <div class="formItem">
            <label>Email:</label><br> 
            <input [(ngModel)]="profile.email" placeholder="example@company.com"/>
        </div>
        
        <div class="formItem">
            <label>About:</label><br> 
            <input [(ngModel)]="profile.about" placeholder="about"/>
        </div>

        <p *ngIf="profile.evaluation">EVAL</p>
    </div>
</div>

<button (click)="goBack()">Go Back</button>
<button (click)="save()">Save</button>