<div>
    <h2>{{profile.firstName | uppercase}} Details</h2>
    <div><span>id: </span>{{profile.profileId}}</div>
    <div>
        <label>Details:
        <input [(ngModel)]="profile.firstName" placeholder="First Name"/>
        <input [(ngModel)]="profile.lastName" placeholder="Last Name"/>
        <input [(ngModel)]="profile.email" placeholder="example@company.com"/>
        <input [(ngModel)]="profile.about" placeholder="about"/>
        </label>
    </div>
</div>

<button (click)="goBack()">Go Back</button>
<button (click)="save()">Save</button>