<body  class="inventory-body">
    <mat-card class="example-card">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <mat-form-field class="example-full-width">
                     <input type="text" matInput placeholder="First Name" formControlName="firstName" class="form-control"  />
                </mat-form-field>                        
             </div>
             <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="Last Name" formControlName="lastName" class="form-control"  />
                </mat-form-field>                        
            </div> 
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="Username" formControlName="userName" class="form-control" />
                </mat-form-field>                        
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="Email" formControlName="email" class="form-control" />
                </mat-form-field>                        
            </div>
            <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput placeholder="Password" formControlName="password" class="form-control"  />
                    </mat-form-field>                        
            </div>
            <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput placeholder="Re-Type Password" formControlName="reTypePassword" class="form-control"  />
                    </mat-form-field>                        
            </div>             
            <div class="form-group">
                    <mat-card-actions>
                        <button mat-raised-button [routerLink]="['/profiles']" [disabled]="loading" class="btn btn-primary">Submit</button>
                        <a mat-button [routerLink]="['/log-in']" class="btn btn-link">Login</a>
                    </mat-card-actions>            
            </div>
        </form>
    </mat-card>

</body>
